<div class="center">
  <h2>アカウント編集</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "btn" %>
    </div>

    <br />
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", class: "btn" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <br />

    <div class="field">
      <br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "新しいパスワード(6文字以上)", class: "btn" %>
      <% if @minimum_password_length %>
        <br />
      <% end %>
    </div>

    <div class="field">
      <br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "新しいパスワード(確認用)", class: "btn" %>
    </div>
    <br />

    <div class="field">
      <br />
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "現在のパスワード", class: "btn" %>
    </div>

    <div class="actions">
      <br />
      <%= f.submit "更新", class: "btn" %>
    </div>
  <% end %>

  <br />
  <%= link_to "戻る", :back %>
</div>
