<div class="center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.text_field :username, autofocus: true, placeholder: "ID", autocomplete: "username", class: "btn" %>
    </div>

    <div class="field">
      <br />
      <%= f.password_field :password, placeholder: "password", autocomplete: "current-password", class: "btn" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <br />
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :"ログイン状態を保持" %>
      </div>
    <% end %>

    <div class="actions">
      <br />
      <%= f.submit "ログイン", class: "btn" %>
    </div>
  <% end %>
</div>