<!DOCTYPE html>
<html>
  <head>
    <title>Agricultural machinery order list</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>        
    <p class="notice center"><%= notice unless user_signed_in? %></p>
    <p class="alert center"><%= alert %></p>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
